footer{
    background-color: $bg-principal;
}

.pie {
    margin-bottom:  auto;
    width: 100%;
    p{
        color: $bg-secundario;
        text-decoration: none;
        @include fonts(14px,400,$typo-principal,normal)
        text-align: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}