main {
    background-color: $bg-secundario;
}
.containerImagen {
    width: 100%;
    height:350px ;
    background-image: url(../assets/frente.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .box p {
        padding: 180px 80px;
        text-decoration: none;
        text-align: center;
        @include fonts (40px,700,$typo-principal,oblique)
    }
}

.destacados{
    height: 100vh;
    margin-bottom: 0px;
    @include grid1;
    .titulo {
        grid-area: titulo;
        h1{
            color: $bg-principal;
            @include fonts(40px,600,$typo-principal,oblique);
            letter-spacing: 4px;
            text-align: center;
            margin: 10PX;    
        }
    }    
    .cardCentral1 {
        grid-area: cardCentral1;
        margin-bottom: 15px;
        img{
            @include index-img;
            @include transforms-img;
            cursor:pointer;
        }
    }
    .cardCentral2{
        grid-area: cardCentral2;
        margin-bottom: 15px;
        img{
            @include index-img;
            @include transforms-img;
            cursor:pointer;
        }
    }

    .cardCentral3{
        grid-area: cardCentral3;
        margin-bottom: 15px;
        img{
            @include index-img;
            @include transforms-img;
            cursor: pointer;
        }
    }
    .pagos{
        grid-area: pagos;
        p{
            @include fonts(20px,400,$typo-principal,normal);
            text-align: center;
            margin-top: 30px;
        }
    }
}

.containerContacto {
    width: 800;
    height: 100vh;
    padding: 70px;
    color: $bg-principal;
    margin-top: 0px;
    .leyenda {
        @include fonts(25px, 900, $typo-secundario,oblique);
    }
    .text{
        color: $colorContacto;
        @include fonts(15px,300,$typo-principal,normal);
        padding: 25px;
    }
    .datos {
        width: 98%;
        padding: 12px;
        border-radius: 4px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        @include fonts(17px,500, $typo-secundario ,oblique);
    }    
}

.phone {
    div {
        @include flex-content (flex,space-around);
        padding: 10px;
        div {
            padding: 20px;
            text-align: center;
            color: $bg-principal;
            @include fonts(20px,700, $bg-secundario,oblique);
            img {
                width: 85%;
            }
        }
    }
}

.container-suc{
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    .principal-card{
        width: 100%;
        padding: 15px;
        display: flex;
        align-items: center;
        margin: auto;
        .card1{
            width: 50%;
            img {
                width: 100%;
                object-fit: cover;     
            }
        }
        .principal-info {
            div{
                h1{
                    padding: 5px 5px;
                    text-align: center;
                    color: $bg-principal;
                    @include fonts(30px,600,$typo-principal,normal);
                    text-decoration: none;
                    margin-top: 40px;
                    margin-left: 60px;
                }
                p{
                    padding: 5px 5px;
                    text-align: center;
                    color: $bg-terciario;
                    margin: 8px ;
                    @include fonts(18px,500px,$typo-secundario,oblique);
                    margin-left: 60px;
                }
            }
        }
    }
}

.containerNosotros{
    height: 100vh;
    h1 {
        color: $bg-principal;
        @include fonts(35px,900,$typo-principal,oblique);
        text-align: center;
        margin-top: 45px;
    }
    p {
        color: $bg-terciario;
        @include fonts(18px,400,$typo-secundario,oblique);
        text-align: justify;
        margin: 45px 70px ;
    }
}

.tienda{
    width: 95%;
    margin: auto;
    h1 {
        color: $bg-principal;
        @include fonts(50px,500,$typo-principal,oblique);
        text-align: center;
        letter-spacing: 5px;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .contProd{
        width: 100%;
        @include flex-content(flex, space-around);
        flex-wrap: wrap;
        .card-item{
            display: block;
            margin: 48px;
            .item{
                border-radius: 10px;
                &:hover{
                    box-shadow: 0 10px 20px $bg-principal
                }
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 10px 10px 0px 0px;
                    @include transforms-img;
                }
                figure{
                    overflow: hidden;
                }
                .info-product{
                    padding: 15px 30px;
                    text-align: center;
                    h2{
                        color: $bg-principal;
                        text-decoration: none;
                        @include fonts(18px,500,$typo-principal,normal);
                    }
                    p{
                        color: $bg-principal;
                        @include fonts(12px, 200, $typo-secundario,oblique);
                    }
                }
            }
        }
    }    
}
