@media (max-width:768px) {
    .encabezado {
        gap: 10px;
        div{
            a{
                img{
                    width: 70%;
                }
            }
        }
        .navBar{
            flex-direction: column-reverse;
            align-items: flex-end;
            margin-bottom: 5px;
            margin-top: 5px;
            gap: 5px;
        }
    }
    .containerImagen {
        height:250px ;
        .box p{
            padding: 90px;
            font-weight: 500;
            font-size: 30px ;
        }
    }
    .destacados{
        .titulo{
            h1{
                letter-spacing: 2px;
                font-size: 60;
                font-weight: 900;
                margin-top: 30PX; 
                color: $colorContacto; 
            }
        }
        .cardCentral1 img{
            width: 85%;
        }
        .cardCentral2 img{
            width: 85%;
            
        }
        .cardCentral3 img{
            width: 85%;
        }
        .pagos{
            p{
                font-size: 25px;
                font-weight: 600;
                font-style: italic;
            }
        }
        
    }
    .containerContacto {
        width: 500px;
        padding: 30px;
        margin: auto;
        .leyenda{
            font-size: 15px;
            font-weight: 700;
        }
        .text{
            @include fonts(10px,200,$typo-principal,oblique);
            padding: 8px;
        }
        .datos {
            font-weight: 300;
            font-size: 12px ;
        }
    }
    .phone {
        div {
            div {
                padding: 10px;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }    
    .tienda{
        h1{
            font-size: 28px;
            letter-spacing: 3px;
            padding-top: 25px;
            padding-bottom: 35px;
        }   
        .contProd{
            .card-item{
                margin-bottom: 25px;
                .item{
                    img{
                        height: 150px;
                    
                    }
                    .info-product{
                        padding: 15px 25px;
                        h2{
                            font-weight: 500;
                            font-size: 20px ;
                            color: $colorContacto;
                        }
                    }
                }
            }
        }  
    }
    .container-suc {
        .principal-card{
            flex-direction: column;
            gap: 15px;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 5px;  
            .card1 img{
                height: 400px;
            }  
            .principal-info{
                div{
                    h1{
                        font-weight: 500;
                        font-size: 15px ;
                        margin-top: 5px;
                    }
                    p{
                        color: $bg-principal;
                        font-weight: 300;
                        font-size: 20px ;
                        margin: 5px 5px 
                    }
                }
            }
        }
    }
    .containerNosotros{
        h1{
            font-size: 25px;
            font-weight: 500;
        }
        p{
            font-size: 14px;
            color: $bg-principal;
        }
    }
    .pie {
        h5{
            font-weight: 300;
            font-size: 9px ;
        }
        h6{
            font-weight: 200;
            font-size: 8px ;
        }
    }
}
