@media (max-width:768px) {
    .encabezado {
        gap: 10px;
        div{
            a{
                img{
                    width: 70%;
                }
            }
        }
        .navBar{
            flex-direction: column-reverse;
            align-items: flex-end;
            margin-bottom: 5px;
            margin-top: 5px;
            gap: 5px;
        }
    }
    .containerImagen {
        height:250px ;
        .box p{
            padding: 90px;
            font-weight: 500;
            font-size: 30px ;
        }
    }
    .destacados{
        @include flex-content(flex,space-around);
        flex-wrap: wrap;
        overflow-y: scroll;
        .titulo{
            h1{
                letter-spacing: 2px;
                font-size: 60;
                font-weight: 900; 
                color: $colorContacto; 
            }
        }
        .cardCentral1 img{
            width: 40%;
        }
        .cardCentral2 img{
            width: 40%;
            
        }
        .cardCentral3 img{
            width: 40%;
        }
        .pagos{
            p{
                font-size: 15px;
                font-weight: 500;
                font-style: italic;
                margin-top: 10px;
            }
        }
        
    }
    .containerContacto {
        width: 340px;
        padding: 25px;
        margin: auto;
        margin-top: 30px;
        .leyenda{
            font-size: 15px;
            font-weight: 700;
            color: $bg-principal
        }
        .text{
            @include fonts(10px,200,$typo-principal,oblique);
            padding: 8px;
            color: $bg-principal;
        }
        .datos {
            font-weight: 300;
            font-size: 12px ;
        }
    }
    .phone {
        div {
            margin-bottom: 28px;
            div {
                img {
                    width: 75%;
                }
            }
            div {
                padding: 5px;
                font-size: 12px;
                font-weight: 500;
            }
        }
    }    
    .tienda{
        h1{
            font-size: 28px;
            letter-spacing: 3px;
            padding-top: 25px;
            padding-bottom: 35px;
        }   
        .contProd{
            .card-item{
                margin-bottom: 25px;
                .item{
                    img{
                        height: 150px;
                    
                    }
                    .info-product{
                        padding: 15px 25px;
                        h2{
                            font-weight: 500;
                            font-size: 20px ;
                        }
                    }
                }
            }
        }  
    }
    .container-suc {
        .principal-card{
            flex-direction: column; 
            .principal-info{
                div{
                    h1{
                        font-weight: 500;
                        font-size: 18px ;
                        margin-top: 35px;
                        margin-bottom: 5px ;
                    }
                    p{
                        color: $bg-principal;
                        font-weight: 300;
                        font-size: 13px ;
                        margin: 25px 5px 
                    }
                }
            }
        }
    }
    .containerNosotros{
        h1{
            font-size: 30px;
            font-weight: 500;
            margin-top: 35px;
        }
        p{
            font-size: 15px;
            color: $bg-principal;
            margin-top: 30px 80px;
            text-align: start;
        }
    }
    .pie {
        p{
            font-weight: 200;
            font-size: 12px ;
        }
    }
}
