@media (max-width: 480px) {
    .contProd{
        flex-direction: column;
        align-content: center;
    }
    .container-suc{
        gap: 10px;
        .principal-card{
            img {
                height: 150px;
            }
        }
    }
    .container-suc {
        .principal-card{ 
            margin-right: 2px;
            margin-left: 2px;
            .card1 {
                margin: 5px 6px;
                height: 120px;
            }  
            .principal-info{
                div{
                    h1{
                        font-weight: 500;
                        font-size: 18px ;
                        margin-top: 225px;
                        margin-bottom: 5px ;
                    }
                    p{
                        color: $bg-principal;
                        font-weight: 300;
                        font-size: 14px ;
                        margin: 2px 4px 
                    }
                }
            }
        }
    }
}   