@media (max-width: 480px) and (min-width:330px){
    .contProd{
        flex-direction: column;
        align-content: center;
    }

    .destacados{
        .titulo{
            h1{
                font-size: 20px;
                margin-top: 12px;
            }
        }
        .cardCentral1 img{
            width: 37%;
        }
        .cardCentral2 img{
            width: 37%;
            
        }
        .cardCentral3 img{
            width: 37%;
        }
        .pagos{
            p{
                font-size: 16px;
                font-weight: 400;
                margin-top: 7px;
            }
        }
    }
}   