@mixin flex-content{
    display: flex;
    justify-content: space-between;
}

@mixin grid1{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "titulo titulo titulo"
        "cardCentral1 cardCentral2 cardCentral3"
        "pagos pagos pagos";
}

@mixin grid-mobile{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "titulo"
    "cardCentral1"
    "cardCentral2"
    "cardCentral3"
    "pagos";
}

@mixin fonts ($size,$weight,$family,$style){
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    font-style: $style;
}

@mixin index-img{
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 75%;
    box-shadow: 5px 5px 25px $bg-principal;
}

