$typo-principal: 'Roboto Slab', serif;

$typo-secundario:'Merriweather', serif;

$bg-principal: black;
$bg-secundario: white;
$bg-terciario: grey;
$navBar: azure;
$hover: chocolate;
$colorContacto: red;
